<mat-card color="primary" class="mat-margin-6 priority-{{ task.priority }}">
  <mat-card-header>
    <div class="header_buttons">
      <mat-icon (click)="openTaskDialog()">edit</mat-icon>
      <mat-icon color="warn" (click)="removeTask()">delete</mat-icon>
    </div>
    <mat-card-title>
      {{ task.name }}
    </mat-card-title>
    <mat-card-subtitle>
      {{task.date}}
    </mat-card-subtitle>
  </mat-card-header>
  <div class="marker"></div>
  <mat-card-content>
      {{task.description}}
  </mat-card-content>
</mat-card>
