@import "../../assets/breakpoints";
:host{
  display:block
}
.board {
  margin: auto auto;
  flex-direction: column;
  min-width: 90vw;
  height:100%;
  display: flex;
  justify-content: space-around;
  @media (min-width: $breakpoint-laptop) {
    flex-direction: row;
  }
}
.mat-fab {
  position: fixed;
  bottom: 5%;
  right: 5%;
}
